@import "tailwindcss";
@import "tw-animate-css";

body {
  --font-outfit: var(--font-outfit);
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #780CFF;
  --color-secondary: #D9D9D9;
  --entire-screen: calc(100vh - 100px);
}