@import 'tailwindcss';
@import 'tw-animate-css';

body {
  --font-outfit: var(--font-outfit);
  overflow-x: hidden;
  color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #780cff;
  --color-secondary: #d9d9d9;
  --entire-screen: calc(100vh - 100px);
}


.button {
  cursor: pointer;
  border: none;
  color: #fff;
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  transition: background 300ms, transform 200ms;
  font-weight: 600;
  font-size: 12px;
}

@media (max-width: 640px) {
  .button {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 14px;
  }
}

.button__text {
  position: absolute;
  inset: 0;
  animation: text-rotation 8s linear infinite;

  >span {
    position: absolute;
    transform: rotate(calc(19deg * var(--index)));
    inset: 2px;
  }
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #fff;

  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover {
  transform: scale(1.05);
  background: #7808d0;
}

.button:hover .button__icon {
  color: #7808d0;
}

.button:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}

@keyframes circle-float {
  from {
    transform: translate(-50%, 80vh) scale(.8);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.yarl__root {
  z-index: 1000000 !important;
}